<div>
    <p>Name: {{.name}}</p>
    <p>Description: {{.description}}</p>
    <p>Current points: {{.currentPoints}}</p>
    <p>Max points: {{.maxPoints}}</p>
    <p>Type: {{.type}}</p>
    <p>Status: {{.status}}</p>
    <p>Teacher name: {{.teacher}}</p>
    <p>Student name: {{.student}}</p>
    {{if .isChecked}}
        <p>This homework has been checked. Check the result and enjoy your studying</p>
    {{else}}
    {{if .isTeacher}}
        {{if .isTeacherCanCheck}}
            <div style="display: flex;">
                <form method="POST" action="/homeworks/{{.id}}" style="display: flex;flex-direction: column;gap: 15px;">
                    <input type="hidden" name="_method" value="PATCH">
                    <input name="currentPoints" type="text" placeholder="Enter current points" autofocus>
                    <label for="status">Choose the status of homework:</label> 
                    <select name="status"> 
                        <option value="checked">checked</option>
                    </select>
                    <button>Update</button>
                </form>
            </div>
        {{else}}
            <p>you cannot change status until student is finished</p>
        {{- end}}
    {{else}}
        {{if .isTeacherCanCheck}}
            <p>you cannot change the status because already finished</p>
        {{else}}
        <div style="display: flex;">
            <form method="POST" action="/homeworks/{{.id}}" style="display: flex;flex-direction: column;gap: 15px;">
                <input type="hidden" name="_method" value="PATCH">
                <label for="status">Choose the status of homework:</label> 
                <select name="status">
                    {{if .isStudentCanStart}}
                        <option value="processing">processing</option>
                    {{else if .isStudentCanFinish}}
                        <option value="finished">finished</option>
                    {{- end}}
                </select>
                <button>Update</button>
            </form>
        </div>
        {{- end}}
    {{- end}}
    {{- end}}
</div>