<div>
    <h1>My Profile</h1>
    <p>Name: {{.name}}</p>
    <p>Email: {{.email}}</p>
    <p>Role: {{.role}}</p>
    <div>
        <p>
            {{if .teacherName}}
                Your teacher: {{.teacherName}}
            {{- else}}
                Your teacher: teacher is not chosen
            {{- end}}
        </p>
        {{if .teacherName}}
        {{- else}}
            {{if .teachers}}
            <form method="POST" action="/profile">
                <input type="hidden" name="_method" value="PATCH">
                <label for="teacher">Choose your teacher:</label> 
                <select name="teacher"> 
                    {{range .teachers}}
                        <option value={{.Id}}>{{.Name}}</option> 
                    {{end}}
                </select>
                <button>Submit</button>
            </form>
            {{- else}}
                <p>Teachers do not exist</p>
            {{- end}}
        {{- end}}
    </div>
    <hr>
    <form method="POST" action="/login">
        <input type="hidden" name="_method" value="DELETE">
        <button>Sign out</button>
    </form>
    <hr>
    <form method="POST" action="/profile">
        <input type="hidden" name="_method" value="DELETE">
        <p>delete the account</p>
        <button>Delete</button>
    </form>
</div>