<div>
    <form method="POST" action="/registration">
        <input name="email" type="email" placeholder="Enter your email" autofocus>
        <input name="password" type="password" placeholder="Enter your password">
        <input name="name" placeholder="Enter your user name">
        <label for="role">Choose your role:</label> 
        <select name="role"> 
            <option value="student">student</option> 
            <option value="teacher">teacher</option> 
        </select>
        <button>Submit</button>
    </form>
    <a href="/login">login to account</a>
</div>